body
{
	background-color: rgb(28, 28, 31);
	margin: 0;
	padding: 0;
  	font-weight: 100;
 	font-family: "Montserrat", sans-serif;
}
.navigation
{
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	width: 100%;
	height: 5vh;
	background-color: #BFBFBF;
	font-size: 1.7vw;
	font-weight: bold;
}
.navigation-logo
{
	display: flex;
	justify-content: center;
	width: 30%;
}
.aindex
{
	display: flex;
	justify-content: center;
	width: 100%;
}
.aindex img
{
	width: 80%;
}
.navigation-menu
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}
.navigation-menu a
{
	position: relative;
	margin-right: 4vw;
	margin-left: 4vw;
	text-decoration: none;
	color: black;
	height: clamp(3vh, 5vh, 7vh);
}
.navigation-menu-main a:before, .navigation-menu-kontakt a:before, .navigation-menu-aktualnosci a:before, .navigation-menu-regulamin a:before
{
	position: absolute;
	transform: translateX(6vw);
	content: '';
	opacity: 0;
	background-color: rgb(28, 28, 31);
	height: 100%;
	width: 4px;
	animation: 0.5s brackets-movement-left-out;
}
.navigation-menu-main a:after, .navigation-menu-kontakt a:after, .navigation-menu-aktualnosci a:after, .navigation-menu-regulamin a:after
{
	position: absolute;
	content: '';
	opacity: 0;
	transform: translateX(-6vw);
	background-color: rgb(28, 28, 31);
	height: 100%;
	width: 4px;
	animation: 0.5s brackets-movement-right-out;
}
.navigation-menu-main a:hover::before, .navigation-menu-kontakt a:hover::before, .navigation-menu-aktualnosci a:hover::before, .navigation-menu-regulamin a:hover::before
{
	position: absolute;
	content: '';
	background-color: rgb(28, 28, 31);
	height: 100%;
	width: 4px;
	animation: 0.5s brackets-movement-left-in forwards;
}
.navigation-menu-main a:hover::after, .navigation-menu-kontakt a:hover::after, .navigation-menu-aktualnosci a:hover::after, .navigation-menu-regulamin a:hover::after
{
	position: absolute;
	content: '';
	background-color: black;
	height: 100%;
	width: 4px;
	animation: 0.5s brackets-movement-right-in forwards;
}
.gallery
{
	width: 100%;
	height: 300vh;
	display: grid;
	place-items: center;
	margin-top: 5vh;
	grid-template-columns: repeat(3, 1fr);
	gap: 5vw;
}
.gallery img
{
	width: 20vw;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(28, 28, 31);
}.gallery img:hover
{
	width: 20vw;
	border-width: 2px;
	border-style: solid;
	border-color: #D97B29;
	animation: 0.5s border-color forwards ease-out;
}
@keyframes header-title-animations
{
	0%
	{
		opacity: 0%;
		transform: translateY(-20%);
	}
	100%
	{
		opacity: 100%;
		transform: translateY(0%);
	}
}
@keyframes brackets-movement-left-in
{
	0%
	{
		transform: translateX(6vw);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0);
		opacity: 1;
		background-color: #D97B29;
	}
}
@keyframes brackets-movement-left-out
{
	0%
	{
		transform: translateX(0);
		opacity: 1;
		background-color: #D97B29;
	}
	100%
	{
		transform: translateX(6vw);
		opacity: 0;
		background-color: black;
	}
}
@keyframes brackets-movement-right-in
{
	0%
	{
		transform: translateX(-6vw);
		opacity: 0;
	}
	100%
	{
		transform: translateX(0);
		opacity: 1;
		background-color: #D97B29;
	}
}
@keyframes brackets-movement-right-out
{
	0%
	{
		transform: translateX(0);
		opacity: 1;
		background-color: #D97B29;
	}
	100%
	{
		transform: translateX(-6vw);
		opacity: 0;
		background-color: black;
	}
}
@keyframes border-color 
{
	0%
	{
		width: 20vw;
		border-color: rgb(28, 28, 31);
	}
	100%
	{
		width: 40vw;
		border-color: #D97B29;
	}
	
}